[2016-04-23 12:04] prabhakar267 opened #4 "include emoticons as on whatsapp"

[2016-04-26 06:01] prachi1210 opened #5 "No way of checking if file uploaded is a chat backup or a gibberish text file"

[2016-04-27 19:19] sahildua2305 commented on #5
+1 for this issue.

[2016-04-29 16:50] prachi1210 opened #6 "Bug in group conversations"
In group conversations, there is no way to differentiate which message is by whom. All text messages by different group members are clustered together under the same colour.

![image](https://cloud.githubusercontent.com/assets/14016564/14923054/829b0da4-0e58-11e6-8364-ad5902fe429e.png)

[2016-06-14 15:43] rubyAce71697 opened #7 "No Proper CSS for backups for windows phone"
I don't know whether the backups for android and windows phone is stored in different way, but the website is not working properly for windows phone WhatsApp backup

[2016-06-16 08:29] AnirudhGoel commented on #7
Can you please upload a sample chat of windows phone so that the app can be optimized for that ?

[2016-06-16 08:51] prabhakar267 commented on #7
@rubyAce71697  actually whatsapp-reader is not for reading the backup files
You can email your chats to other people and it is used to read those emailed text files.

I will surely consider to include the backups too.

[2016-06-16 08:52] #7 closed

[2016-06-16 18:37] rubyAce71697 commented on #7
The file sent as email is different in case of windows phone (that format is not generic). I have forked your repo and made it compatible with the windows phone file. Also I have updated the UI (little bit) to reflect to the group chats in proper manner.  The code has to me made proper, after doing that I will send you the merge request and you can check before meaning.

[2016-06-17 18:08] #5 closed

[2016-07-26 21:25] stealther00 opened #9 "Problem when uploading a valid text file?"
I try uploading a valid (quite long) .txt file of a chat I emailed to myself but I get a `It wasn't a valid text file or we were not able to convert it!` error message when I try uploading it? I'm not sure what the problem is- none of the chats I try work, even from 2 different phones. I tried uploading on my localhost and on the website http://prabhakargupta.com/projects/whatsapp-reader/ - Neithe

[2016-08-26 19:52] prabhakar267 commented on #9
@stealther00 could you share a sample chat file so that i could reproduce the bug

[2016-09-11 08:17] prabhakar267 commented on #6
@prachi1210 does #8 resolves the issue?

[2016-09-11 11:37] prachi1210 commented on #6
@prabhakar267 The users were being displayed earlier was well. What isn't clear is what message was sent by which user, since they are all being displayed by the same color.

[2017-06-02 22:56] mribby786123 opened #10 "MAJOR ISSUE"
i dont know wether its because of a new whatsapp update but ur reader doesnt seem to work for me. it always says invalid text file or something on the lines.

my original file was really long so i thought that was the reason but then i edited it and made it really short, probably about 5 strands of conversation

please help and please fix asap!!

[2017-06-02 23:15] mribby786123 opened #11 "help"
please help

[2017-06-03 17:25] prabhakar267 commented on #10
@mribby786123 if you could provide me with the text file, then i will be able to resolve the issue better.

[2017-06-03 17:27] #11 closed

[2017-06-03 17:31] mribby786123 commented on #10
[_chat.txt](https://github.com/prabhakar267/whatsapp-reader/files/1049754/_chat.txt)

[2017-06-08 21:53] mribby786123 commented on #10
@prabhakar267

[2017-06-09 09:49] prabhakar267 commented on #10
@mribby786123 I am working on your issue
If you could tell me what phone did you use for converting your chat to text file?

[2017-06-09 09:58] mribby786123 commented on #10
Iphone 5s

[2017-06-17 00:04] mribby786123 commented on #10
Have you resolved the issue yet my friend?

[2017-06-17 00:05] mribby786123 commented on #10
@prabhakar267

[2017-07-02 03:22] frankgilcrest opened #12 "Upload Error"
Hi,

I get an error saying that the text file is invalid whenever I upload to your service. I hope I did not get scammed by sending my files :/

[2017-07-02 08:00] frankgilcrest commented on #12
I am becoming paranoid about my submission as the conversation had personal information. What assurances are there that uploads are being deleted and not falling into the hands of bad people?

[2017-07-02 15:28] frankgilcrest commented on #12
If chats are deleted, why are there so many here:
http://prabhakargupta.com/projects/whatsapp-reader/conversations/ ????

Are you keeping people's chats? What proof is there that you are deleting them?

http://prabhakargupta.com/projects/whatsapp-reader/inc/function.inc.php
Has the code where you delete the files but it is empty according to the above link.

[2017-07-02 18:53] frankgilcrest commented on #12
You are dishonest! You ARE keeping logs of all chats. You better hope that nobody gets extorted out of this because all fingers will point to you!

[2017-07-02 19:23] prabhakar267 commented on #12
Hi @frankgilcrest
First of all, thanks a lot for pointing out to a big security flaw which was out there and I was not able to recognise it before today.

1. You got the "Invalid text file error" because the regex rules were not able to detect a time pattern your text files or if you would have uploaded a non-WhatsApp text file.
2. I made this project as a source of easily reading my own personal

[2017-07-02 20:01] frankgilcrest commented on #12
Thank you for replying and I appreciate your hard work. I apologize if I came off as rude. The reason I trusted your service was because you said nothing got stored on the server which was inacccurate; security flaw or not. I am glad you have remedied the breach but it is hard for me to be at ease knowing that someone else may have access to personal information about me and potentially use it aga

[2017-07-02 23:41] frankgilcrest commented on #12
I am still confused. How is it that you did not notice that many chat logs in the conversations folder that spanned many years up until now?

[2017-07-03 00:39] frankgilcrest commented on #12
BTW the chat logs are still in the conversations folder. You have just taken away access to it from the public. If you know the name of the log file you can access it. This is further proof that you are keeping chat logs.

I am reporting you for potentially running a scam.

[2017-07-03 01:58] frankgilcrest commented on #12
So now you FINALLY "deleted" the files. You said that you did but all you did was hide the folder. For all people know, you have just saved them elsewhere. Why did you lie?

[2017-07-03 06:13] prabhakar267 commented on #12
WhatsApp Reader started off as a personal project and I never anticipated such a humble response. Also, all the files were deleted and no backups were taken. Moreover you might be seeing your file, because of your browser cache.

I would recommend you to setup the app on your local machine and run it accordingly since you don't trust the online version. The whole point of open-sourcing the code wa

[2017-07-03 06:13] #12 closed

[2017-07-03 13:59] frankgilcrest commented on #12
There was no caching as I was using my cell phone to check if you had deleted the files. Everything prior to that was on my PC so don't say it was cached data. You simply blocked public access to the folder and kept all the chats in it. There were chats there from a free years ago it seems and I don't believe that it was a "bug." Like I said, you are suspicious and I am reporting this service as a

[2017-07-04 16:33] frankgilcrest commented on #10
He won't fix your issue because he is running a scam. He stores your chats and tells you he isn't. I caught him in the act and said it was a "bug" in his code. There were chats from years ago there. He is probably using people's data or giving it to other people to run extortion scams. Do not send anything to this person!!!

[2017-07-04 16:39] mribby786123 commented on #10
Lol i got nothing to hide. If he is trying to do something dodgy he cant do shit

[2017-07-05 06:09] prabhakar267 commented on #10
@mribby786123 I am working on your issue. It takes time to resolve a timestamp issue. If you want  I can easily stop working on it since I have a lot of better things to do than reading to a "fake" account abusing me and the hard work I put in behind those.

[2017-07-06 07:08] prabhakar267 opened #13 "add custom analytics"
- create a schema for adding custom analytics which include successful converts, unsuccessful converts, (hence total converts) and the number of visits on the page.

[2017-07-16 02:46] mribby786123 commented on #10
@prabhakar267 please carry on fixing the issue. I appreciate it

[2017-09-09 08:43] n1trux commented on #9
Here's how it looked when I copy&pasted WhatsApp messages from my conversation:

    [00:42, 9.9.2017] Jérôme Boateng: So what's Qt?
    [00:47, 9.9.2017] +33 123 45678901: it's a library which you can use to display stuff independent from the display server. Qt is translated platform independently, so it works on Linux, Windows, Mac OS X and possibly others.

There's a lot of spaces at the end of

[2017-09-18 20:57] #4 closed

[2017-10-12 20:50] prabhakar267 commented on #9
@stealther00 I have updated the code and did a lot of refactoring :smile:
Kindly check the updated link https://whatsapp-reader.herokuapp.com/

Feel free to open the issue again if you face the same problem again

[2017-10-12 20:50] #9 closed

[2017-10-12 20:50] prabhakar267 commented on #10
@mribby786123 I have updated the code and did a lot of refactoring :smile:
Kindly check the updated link https://whatsapp-reader.herokuapp.com/

Feel free to open the issue again if you face the same problem again

[2017-10-12 20:50] #10 closed

[2017-10-12 21:30] mribby786123 commented on #10
"It wasn't a valid text file or we were not able to convert it" still not working

[2017-10-12 21:31] mribby786123 commented on #10
not working my friend, the same message keeps popping up

[2017-10-18 07:55] davchana commented on #6
WhatsApp app colors each user's name in different colour, maybe first count all users in group, unique them, and assign a random dark hex code colour to each? The background is same for all users.

[2017-10-19 06:40] prabhakar267 opened #14 "Show relevant error message when file input is empty"
There is an HTML ```required``` attribute in ```input file```
If user removes it and tries to click on **Get Conversations** button there is an unexpected behaviour, instead user should get a relevant error message

[2017-10-19 06:45] prabhakar267 commented on #6
@davchana
Yes, I think that would be a good solution. Can you raise a PR for same? :smile:

[2017-10-19 06:49] prabhakar267 opened #15 "Load new chat"
When user has successfully parsed one conversation, there should be a button added in Navbar (right next to instructions) to allow user to go back to root and parse another chat.

[2017-10-19 06:52] prabhakar267 opened #16 "Give option to store and restore chat to a local system"
Give an option download the JSON which is response from AJAX call to be restored in future.

[2017-10-19 06:54] prabhakar267 opened #17 "Change Google Fonts URL to enable support at Heroku"
Google fonts are being used in ```style.css``` but there are not getting loaded on Heroku server
They should be corrected for correct load
Reference : https://stackoverflow.com/a/18216759

[2017-10-19 09:15] prabhakar267 commented on #17
Fixed in #18

[2017-10-19 09:15] #17 closed

[2017-10-19 10:28] davchana commented on #6
@prabhakar267 I would love to, will try, but no commitments :(

Although the snippet I was refering to get random light colours in javascript is:

[code]

[2017-10-19 15:54] Pro-Ice commented on #14
Terribly sorry for the commit mess in the history. I've accidentally pushed to master and there's no way to delete commits from GitHub even if you've rebased them.

[2017-10-21 12:37] prabhakar267 commented on #14
@Pro-Ice you can always do a (hard) reset
Read more about it here, https://git-scm.com/docs/git-reset

[2017-10-21 15:30] prabhakar267 opened #22 "Clear Error messages div whenever new request is submitted"
Current Behaviour:
If there were errors in existing request and you make another request which is successful, the errors div still shows errors from previous request.

Expected Behaviour:
On every request submission, errors div should be cleared

[2017-10-21 15:52] vikaskyadav commented on #22
use show and hide functions if you are using jQuery.

[2017-10-21 16:58] prabhakar267 commented on #15
Fixed in #21

[2017-10-21 16:58] #15 closed

[2017-10-21 16:59] prabhakar267 commented on #22
Instead of fading out or show-hide, we can clear out ```#errors``` div on every button submit

[2017-10-21 17:53] nilsweb opened #25 "Chat couldn't be parsed due to changes in the file format or variations based on user settings."
Hey there,
I just tired parsing a chat history but couldn't get it to work. After some investigation, I found out that the file format WhatApp uses when exporting the chat history seems to have changed.

My export looks something like this:
[code]

Compared to the export supplied in the sample directory:
[code]

To me it looks like the delimiter between the timestamp and the message has been chang

[2017-10-22 06:37] prabhakar267 commented on #14
Fixed in #20

[2017-10-22 06:37] #14 closed

[2017-10-26 19:27] prabhakar267 commented on #22
Fixed in #23

[2017-10-26 19:27] #22 closed

[2017-12-07 13:23] moi247 commented on #25
Suggested fix with patch: [https://github.com/moi247/WA-Reader/tree/patch-1](url)

This only fixes the issue for the current format, but as mentioned, regex would be a more foolproof fix

[2017-12-07 14:34] prabhakar267 commented on #25
@moi247 Thank you for your concern. You can probably initiate a PR for this issue and we can discuss your solution on that
I saw your patch, it would work fine for this particular instance but it won't work for all the older files. Maybe an initial check for the presence of potential delimiter ("-" or ":") in the string solve this problem

[2018-01-29 10:53] sarnic opened #27 "Local Machine: Some technical glitch! Please retry after reloading the page!"
Hi,

I downloaded your project as zip and try to use it, I get the error: Some technical glitch! Please retry after reloading the page!

If I use your web page, it work's fine.

Is there any references which I have to adapt so I can also use it on local machine?

[2018-01-29 10:54] sarnic opened #28 "Add images support for conversations with "media attached" (Provide an upload zip option)"
Hi,

is it possible to add photos in the reader?

[2018-01-29 10:55] sarnic opened #29 "Some Emoticons missing"
Hi,

I have noticed that there are missing several emoticons.
How I can add them?

[2018-01-29 13:12] prabhakar267 commented on #27
@sarnic I don't think there should be any issue with the local setup
Still I think if you can enable debugging and see if you can detect the problem.

It would be a good thing to add this as a section in README.md

[2018-01-29 13:14] prabhakar267 commented on #28
@sarnic For images, the user would have to upload the zip file WhatsApp creates
And i am not sure if WhatsApp maintains an ID mapping between image name inside the text file. It only stores ```<media omitted>``` instead of the image.
Maybe we could come up with some heuristic based on timestamps, but that would require investigation of WhatsApp's logic for the same.

[2018-01-29 13:17] prabhakar267 commented on #29
@sarnic
The front end code uses [minEmoji](https://github.com/rodrigopolo/minEmoji) for convert emoji text to emoji sprite image.
If you could share what emoticons are missing, we can either raise an issue with minEmoji repo or if it can be handled at our end, we can do that

[2018-01-29 17:31] sarnic commented on #27
@prabhakar267
when i try to load my file, i get the following error message:
Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.

[2018-01-29 21:16] sarnic commented on #29
i will add the missing one in the next days.

[2018-02-08 15:53] Ashleyt28 commented on #13
May I help by adding real-time API counting number of visits on the page?

[2018-02-17 11:01] AnirudhGoel commented on #13
he wants to track the successful and unsuccessful runs of the converter, not the user count.

[2018-02-17 11:12] JamesDelmai1195 commented on #13
"and the number of visits on the page" ?

[2018-02-17 11:13] Ashleyt28 commented on #13
"and the number of visits on the page" ?

[2018-02-17 11:16] JamesDelmai1195 commented on #13
Sounds legit for me , why not implement a number of visits on the page.

[2018-03-06 11:27] rubyAce71697 commented on #28
@prabhakar267  The whatsapp maintains the mapping

3/3/18, 9:57 PM - Ramesh GBI OFFSHORE: VID-20180303-WA0001.mp4 (file attached)
3/4/18, 11:12 PM - Ramesh GBI OFFSHORE: IMG-20180304-WA0008.jpg (file attached)
3/4/18, 11:23 PM - Ramesh GBI OFFSHORE: IMG-20180304-WA0009.jpg (file attached)

While emailing the chat, you have to select option "Attach Media"..
Then we would need to upload zip file con

[2018-03-06 12:37] prabhakar267 commented on #28
@rubyAce71697 It actually depends on the OS and app version, since I have seen versions where even after attaching media, txt file has no mapping with the images.
But for the versions where it is possible to have a mapping, I think we can have an **upload zip** option.
I will make a new issue to track it.

[2018-03-06 12:45] prabhakar267 opened #30 "Add local setup instructions in README"
Setup Instructions can be a good addition to the readme (or any other appropriate file) for anyone to have a local version of the app to view any sensitive information.
It should include the instructions to enable debugging in PHP as mentioned in [upload-file.php](https://github.com/prabhakar267/WA-Reader/blob/master/parse/upload-file.php#L5)

[2018-04-03 06:27] prabhakar267 opened #31 "Add option to download the JSON created after parsing"
User should be able to download the JSON which is generated after the parsing step so that he can in-future upload the JSON to not have to wait for parsing again and again.

Reference: https://github.com/prabhakar267/WA-Reader/blob/master/parse/upload-file.php#L43

[2018-04-10 06:32] sufyanraza66 opened #32 "WA Chat History txt file is not opening.-Backup from IOS"
I backup a chat history from my iPhone6 IOS 11.3.
WA is not supportable for this file.
I'm facing an issue while reading a txt file of Whatsapp chat history, backup form iPhone. WA supports iPhone WA history txt file or not ? if yes. kindly fix the issue.
**It wasn't a valid text file or we were not able to convert it**
A sample WA chat txt file is attached for test purpose.

[_chat.txt](https://g

[2018-04-16 16:34] Francisco6x opened #33 "WA Reader display only the first sentence"
If a message it is like this, it works fine:
WA Reader is a platform to read WhatsApp conversations from email text backups in a easy-to-read UI.

But, if message it is divided into sentences, it display only the first sentence:
WA Reader is a platform to read WhatsApp conversations.
From email text backups.
In a easy-to-read UI.
It display only:
WA Reader is a platform to read WhatsApp conversati

[2018-05-29 01:42] mdprasadeng opened #34 "Heroku deploy is errored out"
Hey ,

Can't access the https://whatsapp-reader.herokuapp.com/
Please look into it if possible

[2018-06-03 20:42] prabhakar267 commented on #34
@mdprasadeng link is up again.
Thanks for pointing it 👍

[2018-06-03 20:42] #34 closed

[2018-06-20 17:26] Blackbird2106 opened #35 ""It wasn't a valid text file or we were not able to convert it""
After uploading my file to https://whatsapp-reader.herokuapp.com/ the following error appeared: "It wasn't a valid text file or we were not able to convert it".
My chat file seams to have a different timestamp format, than your sample file.
So here is a part of my file:

[code]

Don't know if that is important, but the empty lines are not showing in Microsoft Notepad.
If I open it with Notepad++ i

[2018-06-29 13:24] edsac opened #36 "It wasn't a valid text file or we were not able to convert it - sample attached"
Unable to parse exported TXT file, gives error "It wasn't a valid text file or we were not able to convert it" - sample below

<elided>

[2018-06-29 13:29] edsac commented on #36
turned out to be local install config error - the conversations directory needs to be writable...

[2018-06-29 13:29] #36 closed

[2018-08-31 03:15] mndoow opened #37 "Some technical glitch! Please retry after reloading the page!"
I'm getting this error while I try to "Get Conversation", I already used Chrome, Firefox, Chrome and Internet Explorer, I'm doing something wrong?

Regards and thanks in advance!

[2018-08-31 10:01] prabhakar267 commented on #37
@mndoow Did you get this error on the hosted version or did you make a local copy and got this error?

[2018-09-01 07:00] mndoow commented on #37
Thanks a lot for your re ply Prabhakar267, could you please give me any info on how to properly use it? I guess I'm doing it wrong

[2018-09-03 09:07] prabhakar267 commented on #37
I will try to add a local setup guide
I had opened a separate issue #30 for the same, hence closing this!
Once that setup guide is up, you will be able to debug this 👍

[2018-09-03 09:07] #37 closed

[2018-09-03 19:45] mndoow commented on #30
How long it will take?

[2018-09-21 20:23] Dominatus1 opened #38 "Invalid file type uploaded!"
Hey Guys, pls help me to convert this:

[30.07.17, 15:40:35] Peter: Und dafür Jahre brauchen?? Du bist voll hübsch du dumme Pute 😅😅
[30.07.17, 15:41:25] ....: Das Bild ist von April, musste was suchen 😂
[30.07.17, 15:42:22] Peter Und was hat sich bitte geändert? 🙄

into a viewable content in Whatsapp Chatstyle on this platform

Whatsapp Version 2.18.277
Google Android 7.1.1 Nougat
Its sended from

[2018-09-23 15:06] #38 closed

[2018-09-26 13:01] ashutosh6999 opened #39 "wa reader is no more here"
wa reader is no more here. fix the site again.

[2018-10-03 06:28] prabhakar267 commented on #27
Tracking in #30

[2018-10-03 06:28] #27 closed

[2018-10-03 06:28] prabhakar267 commented on #39
@ashutosh6999 It is up again 😄

[2018-10-03 06:28] #39 closed

[2018-10-03 07:06] ashutosh6999 commented on #39
Thanks a lot make a option to convert it in HTML. Thank you so much.

On Wed, Oct 3, 2018, 11:58 AM Prabhakar Gupta <notifications@github.com>
wrote:

[2018-10-04 09:23] seashehl opened #40 "Timestamps not parsed"
Hello, I have just discovered your wonderful tool. It is perfect and exactly what I needed, so thank you. There is just one problem I am encountering. The timestamps are showing up as a sequence of digits. Your example on your page here https://devpost.com/software/whatsapp-reader shows the timestamp in the correct format.

I have attached an image of what i am seeing, (I have scored out the actua

[2018-10-31 09:42] prabhakar267 commented on #40
@edsac  Can you open a PR for the same?

[2019-01-10 06:30] Suleman-Elahi commented on #40
I think this is the same reasons why it is not working on chat backup taken on Windows phone.

[2019-01-18 13:05] arachan10 commented on #36
hello
I have iPhone 6S IOS 12.1.2 and couldnt convert whatsapp txt file

here a sample

[25/3/18 11:27:48] Carolina Elhordoy Lezama: ‎Los mensajes y llamadas en este chat ahora están protegidos con cifrado de extremo a extremo.
‎[25/3/18 11:27:48] Jorge Diez Furest: ‎<adjunto: 00000002-PHOTO-2018-03-25-11-27-47.jpg>
[25/3/18 12:08:50] Carolina Elhordoy Lezama: Recién salgo de misa. Ahora le muestr

[2019-01-18 13:06] arachan10 opened #41 ""It wasn't a valid text file or we were not able to convert it""
hello

I am using iPhone 6S IOS 12.1.2 and couldnt converet whatsapp TXT file

here a sample

[25/3/18 11:27:48] Carolina Elhordoy Lezama: ‎Los mensajes y llamadas en este chat ahora están protegidos con cifrado de extremo a extremo.
‎[25/3/18 11:27:48] Jorge Diez Furest: ‎<adjunto: 00000002-PHOTO-2018-03-25-11-27-47.jpg>
[25/3/18 12:08:50] Carolina Elhordoy Lezama: Recién salgo de misa. Ahora le

[2019-02-23 23:29] markgark opened #42 "Whats app chat can´t be read by the program"
[WhatsApp Chat - Panzon.txt](https://github.com/prabhakar267/WA-Reader/files/2897378/WhatsApp.Chat.-.Panzon.txt)

iOS, Iphone 6

[2019-02-24 06:56] prabhakar267 commented on #42
@markgark Attached file doesn't look like a `.txt` file

[2019-02-25 04:22] markgark commented on #42
prabhakar, yes I Know. I exported a whatsapp chat from iphone. I do not understand why it doesn't like a txt file or why it is crypted.

[2019-03-30 11:32] singhnsk commented on #39
Hi @prabhakar267 It seems to be gone again. Any clues?

[2019-04-20 11:37] #41 closed

[2019-04-20 11:38] prabhakar267 commented on #41
@arachan10 WA Reader works for your chat now :+1:

[2019-04-20 11:40] prabhakar267 commented on #40
@seashehl It should work now properly. Please feel free to reopen this issue or open a new one if you face any problem.

[2019-04-20 11:40] #40 closed

[2019-04-20 11:47] #33 closed

[2019-04-20 11:48] prabhakar267 commented on #33
@Francisco6x WA Reader works for your chat now :+1:

[2019-04-20 11:50] prabhakar267 commented on #32
@sufyanraza66 WA Reader works for your chat now :+1:

[2019-04-20 11:50] #32 closed

[2019-04-20 14:36] #6 closed

[2019-04-20 14:59] #25 closed

[2019-04-20 20:18] prabhakar267 commented on #31
Same as #16

[2019-04-20 20:18] #31 closed

[2019-04-20 21:34] #30 closed

[2019-04-22 21:57] prabhakar267 opened #43 "Make URLs in chat blocks clickable"
For message blocks where there is any valid URL, it should be converted to a clickable URL.
## Current Behaviour
![Screenshot from 2019-04-23 03-23-36](https://user-images.githubusercontent.com/10768588/56534591-a37e7c80-6577-11e9-8d94-08c34e3d40a3.png)
## Expected Behaviour
![Screenshot from 2019-04-23 03-25-00](https://user-images.githubusercontent.com/10768588/56534592-a4171300-6577-11e9-802d-b

[2019-05-05 18:14] #13 closed

[2019-05-14 11:14] prabhakar267 opened #44 "Redirect 404 to homepage"
For any unknown route, redirect to home route.

[2019-05-24 18:31] #44 closed

[2019-06-25 09:43] ColinJoerg opened #45 "Trouble with european Date!!"
Here are the dates link DD/MM/YYYY..... with the dirty timestamps, the script change 05.09 to 09.05 but 13.09.
dateutil has the option "dayfirst=True", would be helpfully ;-)

[2019-06-25 13:19] prabhakar267 commented on #45
Can you upload a small sample?
I would like to test the `dayfirst` option

[2019-06-25 13:51] ColinJoerg commented on #45
29/10/2018, 12:17 - Peter: Ok will do
30/10/2018, 16:23 - Peter: Memorandum of Test
05/11/2018, 15:41 - Ian: Ok so let's go to Munich
05/11/2018, 15:44 - Ian: where do we go exactly?
05/11/2018, 15:44 - Ian: I have no details.

With:

timestamp_string = parse_datetime((dirty_timestamp_string), dayfirst=True)

it works perfect for me ;-)

[2019-08-07 15:32] #45 closed

[2019-08-07 15:49] prabhakar267 commented on #42
@markgark I tried parsing this file, but this is not in valid text format.
Closing the issue.

[2019-08-07 15:49] #42 closed

[2019-08-07 15:54] prabhakar267 opened #47 "Empty input file field when "View Another Chat" (Back) button is clicked"
## Reproducing the bug
When a user converts a chat, a button `View another chat` comes in navbar. When clicked the user is taken to the home screen but the input field is still populated with old field.
## Solution
The field should be cleared as soon as that button is clicked.
Fix Location: `restoreForm` function in [script.js](https://github.com/prabhakar267/WA-Reader/blob/master/static/js/script

[2019-09-08 06:10] #47 closed

[2019-09-11 16:10] timeakesmarky opened #49 "Virtualenv setup"
These two commands don't work, is it ok?
[code]

[2019-09-11 17:01] prabhakar267 commented on #49
@timeakesmarky you need to have some version of Python3 installed on your system to be able to do this.
Can you tell the output of following command on your machine?
[code]

[2019-09-11 17:03] timeakesmarky commented on #49
I have python 3.7 installed but
this command says python3 is not recognized as an internal or external....

[2019-09-11 17:04] timeakesmarky commented on #49
But,
`python --version` says python 3.7.4

[2019-09-11 17:46] prabhakar267 commented on #49
[code]

This should work for you

[2019-09-11 17:53] timeakesmarky commented on #49
But wareader works even without executing these two commands. So, why do we need these 2 commands?

[2019-09-11 17:56] prabhakar267 commented on #49
It is considered to be a good practice to have your Python packages seperated on the basis of your project i.e., each project should have its own dependencies. Here's a good answer explaining the need for virtual environmentns: https://qr.ae/TWKrc1

Can you send me the exact output for `python --version` command and `which python` command?

[2019-09-11 17:59] timeakesmarky commented on #49
I use windows:
[code]

which python is an unknown internal or external....

[2019-09-11 18:02] prabhakar267 commented on #49
I think for Windows the command is `where python`

[2019-09-11 18:04] timeakesmarky commented on #49
`C:\Users\Timea\AppData\Local\Programs\Python\Python37-32\python.exe`

[2019-09-11 18:07] prabhakar267 commented on #49
[code]

[2019-09-11 18:11] timeakesmarky commented on #49
This works. It also works with,
`virtualenv venv --python=python`
What if I want a different python version?

`source venv/bin/activate` doesn't work.

[2019-09-11 18:14] prabhakar267 commented on #49
You would need to install a different version of Python and provide that path in `virtualenv venv -p <new_path>`

Can you try `.\venv\Scripts\activate`

[2019-09-11 18:26] timeakesmarky commented on #49
Oh ok. But why does THIS app need the virtualenv setup?

Activation works now.

[2019-09-11 18:44] prabhakar267 commented on #49
This app in particular doesn't need virtual environment. It is considered a good practice to do it anyways.

Closing the issue since the issue seems to be resolved.

[2019-09-11 18:44] #49 closed

[2019-09-18 00:58] marcelo-moy opened #50 "Please add support for audio files to complete conversation, Pharse "(archivo adjunto)" or "(attached file)" and before text between name and this interpret the file extension and show from same folder the image or show miniplayer to audio file"

[2019-10-13 18:33] prabhakar267 opened #51 "Make URLs in chat blocks clickable"
For message blocks where there is any valid URL, it should be converted to a clickable URL.
## Current Behaviour
![Screenshot from 2019-04-23 03-23-36](https://user-images.githubusercontent.com/10768588/56534591-a37e7c80-6577-11e9-8d94-08c34e3d40a3.png)
## Expected Behaviour
![Screenshot from 2019-04-23 03-25-00](https://user-images.githubusercontent.com/10768588/56534592-a4171300-6577-11e9-802d-b

[2019-10-13 18:33] #43 closed

[2019-10-13 19:24] RisingGeek commented on #51
I would like to take up this issue

[2019-10-13 19:38] prabhakar267 commented on #51
@RisingGeek Go ahead.

[2019-10-13 19:44] prabhakar267 opened #52 "[BUG] Throws an exception when a route other than base route is opened"
## Description
It throws an error whenever you open any route other than base route `/`

## Expected behaviour
Should redirect the user to base route with the following error message:
`"Sorry, we couldn't find the page"`

[2019-10-13 19:49] prabhakar267 opened #53 "[Logo Design] Design a new logo"
Current logo was created as a temporary placeholder. Design a new logo with captures the product.
I would like to use the logo without any legal formalities but would definately be giving a huge shout out to the designer on the website and GitHub repository

## Current Logo
<img src="https://whatsapp-reader.herokuapp.com/static/img/logo.png" width="50%" />

### All suggestions are welcome 😄

[2019-10-13 20:31] krzysiekh commented on #53
Hi,
I've created PR with sample logo design.

[2019-10-15 19:42] #53 closed

[2019-10-16 05:03] sapnatomar commented on #52
I want to work on this issue.

[2019-10-16 05:10] sapnatomar commented on #52
I would like to take up this issue.

[2019-10-16 21:39] sapnatomar commented on #52
Hey @prabhakar267, please review this pull request #59 .

[2019-10-17 15:06] prabhakar267 commented on #52
Fixed in #59

[2019-10-17 15:06] #52 closed

[2019-10-17 17:14] prabhakar267 opened #60 "[BUG] For an invalid file, no error is coming up"
If you upload an incorrect file, an error message should come up which says `It wasn't a valid text file or we were not able to convert it`. Currenly, the POST call made to the parsing API is returning the response but the message is not being showed on the UI.

[2019-10-19 15:47] prabhakar267 opened #62 "Add other devices links to FAQ section"
There is an FAQ **How do I export my chat history from WhatsApp?** in the FAQ section. Currently there is only instructions for Android devices, add the links for iPhone and Windows phone as well.

iPhone: https://faq.whatsapp.com/en/iphone/20888066
Windows: https://faq.whatsapp.com/en/wp/23607796

[2019-10-19 16:02] wokrabi commented on #62
I would like to work on it!

[2019-10-19 19:20] #62 closed

[2019-10-20 13:42] prabhakar267 commented on #60
Closed in #64

[2019-10-20 13:42] #60 closed

[2019-10-25 05:32] prabhakar267 opened #66 "Validate filetype in backend"
Currently there are no checks for filetype being uploaded. The server tries to parse all file format. Only acceptable format should be `.txt.`

[2019-10-25 22:41] dannyverp commented on #16
Hey guys, I'd like to pick this issue up over the weekend

[2019-10-27 10:24] #66 closed

[2019-10-27 11:38] dannyverp commented on #16
The first PR adds the option to download the created JSON. I'm now working on an option to upload it.

[2019-10-27 17:47] dannyverp commented on #16
The second MR adds the option to upload a previously downloaded JSON. Let me know if this seems alright :)

[2019-10-29 06:50] #16 closed

[2019-11-28 17:18] Sogl opened #70 "Python int too large to convert to C long"
Trying to load 4 mb txt export file...

Error:
![image](https://user-images.githubusercontent.com/7556290/69824179-0de95080-121c-11ea-9746-d0c4fa197611.png)

Conversation example from file:
[code]

Same error in demo and in local server. How to fix?

[2019-11-28 22:21] Sogl commented on #70
953 kb text export works fine. I think this error depends on filesize (symbols/lines count or something).

[2019-11-29 05:03] prabhakar267 commented on #70
@Sogl I will look into the problem, I would create a large file and see the problem is due to file size or if there is some random character in your text file that is failing.
Thanks for reporting.

[2020-04-22 18:50] andresmorago opened #71 "download as pdf or html"
hello
it would be nice to have the chance to download the formatted chat as pdf or html file

[2020-05-19 13:28] ScopareTutto opened #72 "'ascii' codec can't encode character u'\u200e' in position 0: ordinal not in range(128)"
Problem in chat of 3.96 mb
Bug

[2020-05-19 14:07] #72 closed

[2020-05-19 14:08] prabhakar267 commented on #72
@ScopareTutto I have added a fix. Please check if that solves the problem, if not then I will have to have a deeper look.
Thanks for reporting. If it doesn't fix your problem, please feel free to reopen the issue.

[2020-05-19 14:43] ScopareTutto opened #73 "new bug bro : 'encoding' is an invalid keyword argument for this function"
It was solved "'ascii' codec can't encode character u'\u200e' in position 0: ordinal not in range(128)" but arose this red sign "  'encoding' is an invalid keyword argument for this function  "

[2021-03-29 08:38] Kassiopeia-2002 opened #75 "WA Reader locally does not work w/o further explanation"
Hi, I've downloaded the python 3.9 to run the WA Reader locally, but unfortunately it doesn't work :-(
It's not clear how to make all setups as described - especially the part "source venv/bin/activate". ???
So, I would like to ask you if there is a detailed manual available for this tool so that a beginner is able to use it?
The very short description you have published is not very helpfull, I'm

[2021-03-29 12:50] prabhakar267 commented on #75
@Kassiopeia-2002 If you follow the setup instructions step-by-step, you should be able to run the project locally.
In case you face any specific issue, please feel free to post that.

[2021-03-29 14:50] Kassiopeia-2002 commented on #75
@prabhakar267 ,  your are right: "...you should be able..." , but I AM NOT.
I followed the setup instructions step-by-step, but w/o results (except the fact that Python 3.9 seems to run correctly).
Why isn't it possible to give me (and others) a clear description? I can't understand it.

But ok, lets go through your explanations:

“_**Requires Python3 to run locally. See instructions to setup Pyth

[2021-03-29 15:44] prabhakar267 commented on #75
@Kassiopeia-2002 I think there is a issue with your understanding of virtual environments.
Can you confirm if the virtual env was setup correctly and you have all the dependencies properly installed?

If you are not familar with the concept of virtual envs, please refer to this blog.
https://www.dabapps.com/blog/introduction-to-pip-and-virtualenv-python

[2021-03-30 08:41] Kassiopeia-2002 commented on #75
@prabhakar267, please read my comments below…

Von: Prabhakar Gupta ***@***.***>
Gesendet: Montag, 29. März 2021 17:45
An: prabhakar267/WA-Reader ***@***.***>
Cc: Kassiopeia-2002 ***@***.***>; Mention ***@***.***>
Betreff: Re: [prabhakar267/WA-Reader] WA Reader locally does not work w/o further explanation (#75)

@Kassiopeia-2002 <https://github.com/Kassiopeia-2002>  I think there is a issue with

[2021-03-30 09:52] prabhakar267 commented on #75
Closing this issue because of disappointment.

[2021-03-30 09:52] #75 closed

[2021-05-18 16:32] SuperSanglap opened #76 "Makes problem with heroku"
The code works fine in localhost but throws application error in heroku server with the file app.py

[2021-05-28 15:27] prabhakar267 commented on #76
@SuperSanglap the app seems to work just fine for me, can you elaborate on the issue?

[2021-05-28 15:37] prabhakar267 commented on #71
You can download the HTML file using inspect element in case you're very interested and I don't think we need to support PDF.
Closing the issue

[2021-05-28 15:37] #71 closed

[2021-05-28 15:38] prabhakar267 commented on #73
I don't think this issue is still persistent. Please verify the same.

[2021-05-29 18:19] SuperSanglap commented on #76
Actually Sir, I am unable to find out the real issue, Everything works fine on the localhost but don't know what happens with the Heroku Server, can you please check the source code? Thank You! https://github.com/supersanglap/Xport-View

[2021-05-30 06:19] #76 closed

[2021-05-30 09:44] prabhakar267 commented on #35
![image](https://user-images.githubusercontent.com/10768588/120099561-be117f80-c159-11eb-8778-db83a8d233ac.png)
This got fixed. Closing the issue

[2021-05-30 09:44] #35 closed

[2021-05-30 21:08] uptoratlen commented on #51
Hi,
reading the open issues I found this.
I thought that maybe my pull request of #78 was a good start. It turned out we do not need to re-invent the wheel (aka create own code that works less good with few features)
There is a nice lib that  does all the magic. I already created a new branch and it works fine (with some very basic tests)

Check this demo video of my latest (local) commit out:
htt

[2021-06-02 05:36] prabhakar267 commented on #51
@uptoratlen This looks good, let me finish up #78 this week, then you can raise a PR for this.

[2021-06-05 06:31] #28 closed

[2021-06-05 06:32] prabhakar267 commented on #50
Fixed in #78

[2021-06-05 06:32] #50 closed

[2021-06-05 07:50] prabhakar267 commented on #29
Seems this is fixed. Please feel free to reopen if issue persists.

[2021-06-05 07:50] #29 closed

[2021-06-05 10:21] uptoratlen opened #79 "Update readme to newest feature (zip)"
Update the current readme or add wiki, to explain and comment zip upload.
If you like I will do this. Assign it to me, or I will also send a PR for this.

[2021-06-05 10:45] prabhakar267 commented on #73
Closing this since it doesn't seem to persist now. Please feel free to reopen.

[2021-06-05 10:45] #73 closed

[2021-06-05 10:51] prabhakar267 opened #80 "Check if file is present in `parse_file` method"
`parse_file` method gives an error if there is no file present.
https://github.com/prabhakar267/WA-Reader/blob/a1c927065fde009a1e315c57f25bad1bb4f507f3/app.py#L23

### Task
Add a check to ensure file is present in the request. If not send out the following error message
```"Please upload a file to proceed."```

[2021-06-05 23:02] uptoratlen commented on #80
I guess you refer to a empty request.file, right?
a good sample looks like this: `ImmutableMultiDict([('0', <FileStorage: 'whatsapp_chat_en.txt' ('text/plain')>)])`, in case you refer to empty, my best idea is:
in app.py (line 22)
[code]

I was not able to re-create it so I set the dict to 0 and tested the flow. It worked as expected. But maybe you refer to a different case, otherwise I will add t

[2021-06-11 05:50] #51 closed

[2021-06-11 19:16] uptoratlen opened #83 "Check uploaded zip file for a chat format text file in a user friendly way"
Currently the uploaded zip need to contain a certain named text file "_chat.txt".
This is for users not very friendly.
Suggestions (2)
a) Create a list of chat file constants (pattern) and check of such a file, in case non of the list is found, return a error (with the list so the user could check )
b) Check all uploaded text files (extension .txt) for a Whatsapp pattern (first line) , in case lin

[2021-06-17 18:02] #80 closed

[2021-09-01 16:12] nannib opened #84 "some bugs"
hi,
first of all thanks for your work!
bugs list:
1) The TXT file must be named _chat.txt
2) The attachments must be renamed (Datei angehängt), in Italian is (file allegato), in others languages will be different from Datei angehängt, so if you don't rename you cannot see the multimedia files.
3) If you upload the zip file, the chat doesn't scroll.
Thank you again

[2021-09-02 06:53] prabhakar267 commented on #84
Thanks @nannib for pointing this out. Please feel free to open a PR addressing these issues.

[2021-09-04 20:24] uptoratlen commented on #84
some remarks (and split this up in three single tasks or sub tasks, maybe ? see last lines of this comment)
to 1) yep that is not so clever as pointed already out during implementation #78. Some code to find a text file with a correct format (in case multiple  text files in zip) would be nice to have.  Like get all text files, check for a WA format and than use that one file. In case someone puts

[2021-12-17 04:04] Jaycob777 opened #85 "Txt"

[2021-12-17 04:05] Jaycob777 commented on #85
Whatsapp

[2021-12-17 08:32] prabhakar267 commented on #85
@Jaycob777  Can you describe the issue?

[2021-12-22 05:53] prabhakar267 commented on #85
Please feel free to reopen once you add more context. Closing for now.

[2021-12-22 05:53] #85 closed

[2022-07-13 09:53] jonathanold opened #86 ".zip import only draws chat, not attachments"
I have tried to run the WA-Reader locally with .zip files. While the chat loads, attachments are not loaded. My hypothesis is that this is because the attachment format has changed. In the sample .zip file, messages with attachments follow the format:
`28.05.21, 21:45 - MasterMind: ‎VID-20210528-WA0002.mp4 (Datei angehängt) `
In my exported WhatsApp chats, the format is:
`‎[9/24/21, 17:53:31] Name

[2022-07-13 10:37] jonathanold opened #87 "Issue with Mac-generated .zip files"
I am trying around some things related to the import of .zip files. For that, I unzip the files on my local (Mac) machine, change text in the .txt file, and then make a new .zip-file. However, when uploading this, I always get the error message "File not uploaded properly. Try Again!".

[2022-07-13 19:24] uptoratlen commented on #86
Try to change the file: **constants.py**
there is a section we offered on our best knowledge:
ATTACHMENT_MESSAGES = [
    "Media attached",
    "Datei angehängt",
]

English and German.
I guess this might work

ATTACHMENT_MESSAGES = [
    "Media attached",
    "Datei angehängt",
    "Name: ‎<attached:",
]
But this is just a guess based on a quick look.

[2022-07-14 18:12] prabhakar267 commented on #86
@jonathanold Can you upload a small sample file to someone to take a look at it?

[2022-07-14 18:13] prabhakar267 commented on #87
Can you try to make the zip file using zip command?
Reference: https://superuser.com/a/505041